{% extends "layout.html" %}
{% block content %}
    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Products</th>
                        <th>Delivery Date</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for i in range(total) %}
                        <tr>
                            <td class="align-middle">{{ orders[i].id }}</td>
                            <td class="align-middle"><img
                                    src="{{ url_for('static', filename='profile_pics/'+products[i].image_file) }}"
                                    alt=""
                                    style="width: 50px;"></td>
                            <td class="align-middle"> {{ products[i].product_name }}</td>
                            <td class="align-middle">{{ orders[i].date_of_delivery.strftime('%Y-%m-%d') }}</td>
                            <td class="align-middle">{{ prices[i] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
    <!-- Cart End -->
{% endblock content %}